body {
    color: #5a5d5d;
    background-color: rgb(108, 128, 201);

}

.stButton>button {
    color: #6C80C9FF;
    border-radius: 50;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #6C80C9FF;
}

