body {
    color: #ff0000;
    background-color: rgb(21, 24, 211);

}

.stButton>button {
    color: #ff0000;
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #ff0000;
}

